.top-logo {
    font-size: 1.1rem;
    margin: 25px auto 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.main-page-section {
    background-size: cover !important;
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 20px;
    position: relative;
    text-align: center;
    min-height:600px;
}

.section-guide {
    background: rgba(0,0,0,0) url('/images/sections/guide.jpg') repeat scroll 0 0;
}
.section-extguide {
    background: rgba(0,0,0,0) url('/images/sections/extguide.jpg') repeat scroll 0 0;
}
.section-prague {
    background: rgba(0,0,0,0) url('/images/sections/10.jpg') repeat scroll 0 0;
}
.section-delegate {
    background: rgba(0,0,0,0) url('/images/sections/12.jpg') repeat scroll 0 0;
}
.section-others {
    background: rgba(0,0,0,0) url('/images/sections/4.jpg') repeat scroll 0 0;
}

.main-menu {
    /*background-color: #2F71A1;*/
    margin: 0;
    padding: 0;
    position: relative;
}
.main_menu_button {
    background-color: transparent;
    border: none;
    color: #444;
    font-size: 2.6rem;
    padding: 0 15px 0;
}
.main-menu ul {
    /*float: left;*/
    width: 940px;
    margin:0 auto 5px auto; 
    list-style-type: none;

    padding: 0;
    z-index: 12;
}
.main-menu ul li {
    display: inline-block;
    position: relative;
   
}
.main-menu a {
    color: #444;
    display: block;
    font-family: "RobotoRegular";
    font-size: 1.4rem;
    margin: 0;
    o-transition: all .25s;
    outline: none;
    padding: 5px 5px;
    margin: 5px 5px;
    text-transform: uppercase;
    transition: all .25s;
    webkit-transition: all .25s;
    border-bottom: 2px solid transparent;
}
.main-menu li.active a {

}
.main-menu a:hover {
    /*background-color: #6296BC;*/
    text-decoration: none;
}
section > .line {
    position: absolute;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: auto;
    width: 0.5rem;
    height: 100%;
    z-index: 999;
}

section .item  {

    background-color: rgba(255,255,255,.8);
    min-height:500px;
}
.block .icon {
    display:inline-block;
    vertical-align:middle;
    float:left;
    width:36px;
    height:36px;
    border-radius:50%;
    margin:0 10px 0 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.block .header {
    display:inline-block;
    vertical-align:middle;
    font-family: "RobotoCondensedRegular";
    font-size: 1.6rem;
    line-height: 36px;
    height: 36px;
    /*color: #215173;*/
    font-weight: 400;
    text-align:left;
}
.block .description {
    margin-top:10px;
}
.block ul {
    margin:0 0 0 30px;
    padding:0;
}


.blocks {
    margin-top: 20px;
}
.block {
    min-height:210px;
    background-color: rgba (255,255,255,.5);
    background-color: #EEF3F3;
    /*background-color: #CAD4DD;*/
    border-radius:10px;
    padding:10px;
    text-align:left;
    margin-top:10px;   
}

.i-calendar {
    background-image: url('/images/icons/calendar.png');

}
.i-forms {
    background-image: url('/images/icons/forms.png');
}
.i-sert {
    background-image: url('/images/icons/sert.png');
}
.i-cost {
    background-image: url('/images/icons/cost.png');
}
.buttons {
  margin-top: 30px;  
}
.item .button {
    display: inline-block;
    width:230px;
    font-family: "RobotoCondensedBold";
    height: 36px;
    font-size:2rem;
    line-height:36px;
    padding:0 10px;
    margin:5px 10px;
    text-transform:uppercase;
    border-radius:5px;
    color: #ddd;
    opacity: 0.9;
    /*font-weight: bold;*/
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.8);
}
.item .button:hover {
 opacity: 1;
}
.item .button:active {
  margin-top:6px;
  margin-bottom:4px;
  margin-left:11px;
  margin-right:9px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}


.item .button-register {
   background-color: #C40000;
}
