/*============ Section Guide ============*/
.bg-guide {
  background-color: #007676;
}
.clr-guide {
  color: #007676;
}

.bg-extguide {
  background-color: #C40000;
}
.clr-extguide {
  color: #C40000;
}
.bg-prague {
  background-color: #C45900
}
.clr-prague {
  color: #C45900;
}
.bg-delegate {
  background-color: #009D00;
}
.clr-delegate {
  color: #009D00;
}

