.news-list {
	font-size:1.4rem;
}
.news-list ul
{
	list-style-type:none;
	padding:0;
	margin: 0 0 0 0px;
}
.news-list ul li {
	margin:2px 0 3px 0;
}
.news-list li a {
	font-size:1.4rem;
	line-height:1.6rem;
}
.news-list li a:hover {
	text-decoration: underline;
}
.news-list  ul li .date{
	display: inline-block;
	margin-right:5px;
	padding:2px 5px;
	background-color:#CAD4DD;
	color:#1A5C8C;
	border-radius:3px;
	font-size:1.3rem;
	line-height:1.4rem;
}
.news-list .read-more {
	display: block;
	float:right;
	/*color: red;*/
	/*font-style:italic;*/
	text-decoration: underline;
}
.news-list .read-more:hover {
	text-decoration: underline;
}


/*============= Reviews Left ==*/

.reviews-left {
	font-size:1.4rem;
	
}
.reviews-left h2 {
	margin-bottom:20px;
}
.reviews-list-container {
	padding:0 10px;
	position:relative;
}

.reviews-list {
	padding:0;
	margin:0;
}

.reviews-list .item {
	border-radius:10px;
	padding:10px 10px 10px 10px;
	background-color: #e5eaea
}

.reviews-list .item .photo {
	height: 50px;
	margin: 0 auto;
	padding: 0;
	width: 50px;
	display:inline-block;
}

.reviews-list .item .photo img {
	border-radius: 50%;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 50px;
}

.reviews-list .item .header {
	display:inline-block;
	vertical-align:middle;
	font-size: 1.4rem;

}
.header .name {
	display:block;
	text-align:center;
	font-weight:bold;
}
.header .underline {
	display:block;
	border-top: 1px solid #777;
	color:#777;
	font-size: 1.3rem;
	/*font-style: italic;*/
}
.item .text {
	font-size: 1.3rem;
	font-style: italic;
	display:block;
	padding: 8px 0;
}
.reviews-left .next,
.reviews-left .prev {
	font-size:2rem;
	line-height:2rem;
	position:absolute;
	top: 40%;
	cursor:pointer;
	z-index:20;
	line-height:2rem;
	width:10px;
	border-radius:3px;
	text-align:center;
	font-weight:900;

}

.reviews-left .next:hover,
.reviews-left .prev:hover {
	background-color: rgba(0,0,0,.3);
}
.reviews-left .prev {
	left:0px;
}
.reviews-left .next {
	right:0px;
}

/*============ Ыгиыскшиу ==========*/



.btn-subscribe {
	color:#ddd;
	text-transform: none;
	background-color: #2F71A1;
	float: right;
}
.btn-subscribe:hover {
 color:#fff;
}



.subscribe input[type="email"] {
	display:block;
	width:95%;
	height:25px;
	font-family: "RobotoRegular";
	color:#777;
	vertical-align:middle;
	margin:5px 20px 5px 10px;
	border: 1px solid #2F71A1;

}

